body {
    font-size: 24px;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 24px;
}
h3{
    font-size: 18px;
}
.bold{
    font-weight: bold;
}
.bold-italic{
    font-weight: bold;
    font-style: italic;
}
.italic{
    font-style: italic;
}
